<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <!--<add name="mycone" connectionString="Data Source=OAX-O-PC0BW5EH\MIO;Initial Catalog=Auxiliares;Persist Security Info=True;User ID=sa;Password=Mdf170502" providerName="System.Data.SqlClient" />-->
      <add name="mycone" connectionString="Data Source=198.71.225.113;Initial Catalog=ph18692728023_;Persist Security Info=True;User ID=ph18692728023;Password=G3n3ric@.16"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>

</configuration>
